.Friends{
    display:grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 150px 150px 250px;
    gap: 1cm;

}
header{
    grid-column: 1/3;
    background:rgb(18, 131, 231);
}
main{
    grid-column: 1/3;
    background:rgb(176, 204, 35);
}
footer{
    grid-column: 1/3;
    background:rgb(237, 20, 150);
}
.grid{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1cm;
}
.d1{
    background-color:blueviolet;
    text-align: center;
    padding: 20px;
}