h1{
    margin: 20px;
    background-color: plum;
    border-style:groove;
    border-width:0.5cm;
    border-color:aqua black blue red;
    border-radius:100px;
    text-align: center;
}
img{
    width:150px;
    height:100px;
    border-radius: 30%;
    margin: 30px;
    border-style:dotted;
    border-color: darkmagenta;
    padding:40px;
    position:sticky;
    top: 1cm;
}
