body{
    background-color:rgb(225,225,12);

}
img{
    animation:picture 10s ease-in-out 3s infinite;
}
@keyframes picture{
    0%{
        transform:translate(0cm,0cm) rotate(0deg) scale(1);
       border-style:dotted;
       border-width:0.5cm; 
    }
    25%{
        transform:translate(10cm,0cm) rotate(90deg) scale(1);
        border-style:solid;
        border-width:0.5cm;
    }
    50%{
        transform:translate(10cm,10cm) rotate(180deg) scale(1);
        border-style:double;
        border-width:0.5cm;
    }
    75%{
        transform:translate(0cm,10cm) rotate(270deg) scale(1);
        border-style:groove;
        border: width 0.5cm;
    }
    100%{
        transform:translate(0cm,0cm) rotate(360deg) scale(1);
        border-style:ridge;
        border-width:0.5cm;
        
    }

}  